.modalContainer {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 400ms cubic-bezier(0.32, 0, 0.67, 0);
}

.modalContainer.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 400ms cubic-bezier(0.76, 0, 0.24, 1);
}

.modalSlider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 500ms cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightsteelblue;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms cubic-bezier(0.32, 0, 0.67, 0);
}

.cursor.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.76, 0, 0.24, 1);
}

.cursorLabel {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 450ms cubic-bezier(0.32, 0, 0.67, 0);
}

.cursorLabel.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 450ms cubic-bezier(0.76, 0, 0.24, 1);
}
